{% extends 'base.jinja' %}

{% block content %}

<h3>About page</h3>
<p>Look no further for the all-in-one website to hang out with your friends. Play games, have a karaoke session, video chat and more! </p>

{% endblock %}
