{% extends 'base.jinja' %}

{% block content %}

{{ form.hidden_tag()}}
<div>
    <form action="">
        <fieldset class="form_group">
            <legend>Sign In Here</legend>
            <div>
                {{ form.email.label }} <br>
                {{ form.email(size=32) }}
                {% for error in form.email.errors%}
                <span> {{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }} <br>
                {{ form.password(size=32) }}
            </div>
        </fieldset>
        <div>
        <br>
            {{ form.submit }}
        </div>
    </form>
    <div>
        <p> Need to register?
        </p>
        <a href="{{ url_for('auth.register') }}">Register Here</a>
    </div>
</div>

{% endblock content %}
